'scopeName': 'source.Ecore4Reg'
'name': 'Ecore4RegFiles'
'fileTypes': [
  'ecore4reg'
]
injections:
  'L:*':
    patterns: [
        {
            match: '\\b(Hello|from)\\b'
            name: 'keyword.control.Ecore4Reg'
        }
    ]
