'scopeName': 'source.Regdna'
'name': 'RegdnaFiles'
'fileTypes': [
  'regdna'
]
injections:
  'L:*':
    patterns: [
        {
            match: '\\b(Hello|from)\\b'
            name: 'keyword.control.Regdna'
        }
    ]
